{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
  <h1>Log In</h1>
  <p>Please use the following form to login.</p>
<form method="post">
  {{ form.as_p }}
  {% csrf_token %}
  <input type="submit" value="Login" />
</form>
<p><a href="{% url 'password_reset' %}">Forgotten your password?</a></p>

<div class="social">
  social form
  <ul>
    <li class="facebook">
      <a href="{% url 'socials:begin' 'facebook' %}">Sign in with Facebook</a>
    </li>
  </ul>
</div>
{% endblock %}
